.card-wrapper {
  display: flex;
  flex-direction: column;

  img {
    max-width: 226px;
    margin: 16px 0;
  }
}

.cardboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .colored {
    color: $light;
  }

  .player-name {
    margin-top: 1em;
    font-size: 1.1em;
  }

  .draw-btn {
    margin-top: 2em;
  }
}